@{
    ViewData["Title"] = "Administración";
}

<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="text-white mt-0">@ViewData["Title"]</h1>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Tablero de control del restaurante La Estancia</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Opciones</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <a class="nav-link" asp-area="" asp-controller="Plato" asp-action="Index">
                    <div class="mb-2"><i class="bi bi-circle fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Gestión de Platos</h3>
                    <p class="text-muted mb-0">Para todas las consultas con respecto a nuestros platos</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <a class="nav-link" asp-area="" asp-controller="Mesas" asp-action="Index">
                    <div class="mb-2"><i class="bi bi-house-gear bi-dice-1 fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Gestión de Mesas</h3>
                    <p class="text-muted mb-0">Muy útil para ver qué mesas están desocupadas</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <a class="nav-link" asp-area="" asp-controller="Orden" asp-action="Index">
                    <div class="mb-2"><i class="bi bi-clipboard2-check bi-dice-1 fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Cargar Orden</h3>
                    <p class="text-muted mb-0">Para asociar platos a las mesas</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
