@model Restaurante.Models.Plato

@{
    ViewData["Title"] = "Crear plato";
}

<section class="page-section bg-primary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="text-white mt-0">Dar de alta Nuevo Plato</h1>
                <hr class="divider divider-light" />
            </div>
        </div>
    </div>
</section>


<div class="container">
    <br />
<h4>Nuevo Plato</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_Plato" class="control-label"></label>
                <input asp-for="Nombre_Plato" class="form-control" />
                <span asp-validation-for="Nombre_Plato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Dar de Alta" class="btn btn-primary" />
                    <a asp-action="Index">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</div>
